/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #34495e;
    margin: 0;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #1abc9c;
}

/* Main Layout */
main {
    max-width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Cards */
.card {
    background: rgb(230, 229, 229);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    max-width: 90%;
    border-radius: 3px;
}
.card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            margin: auto;
            padding: 20px;
            border: 1px solid #f1ebeb;
            border-radius: 10px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        }
        hr {
            border: none;
            height: 2px;
            background-color: #f30909; /* Couleur de la ligne */
            margin-top: 10px; /* Espace avant la ligne */
        }
        

/* Footer */
footer {
    text-align: center;
    padding: 15px;
    background: #2c3e50;
    color: white;
    margin-top: 20px;
}
