* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Responsive Navigation */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}

main {
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
}

/* Course Cards */
#course-list {
    display: flex;
    flex-wrap: wrap;
}

.course-card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 30%;
}

.completed {
    background-color: #90EE90; /* Light Green for Completed */
}

.not-completed {
    background-color: #ffcccb; /* Light Red for Not Completed */
}

/* Footer */
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
}

footer p {
    margin-bottom: 10px;
}



img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover; /* Assure que l'image garde ses proportions sans se déformer */
}

/* Spécifique aux images de cours */
.course-image {
    border: 2px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.course-image:hover {
    transform: scale(1.05); /* Agrandit l'image au survol */
}

/* Image de la section "About This Course" */
.about-image {
    border-radius: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 250px;
    width: 3000px;
}